/* GENERAL CSS */

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

.ui.main.container{
  margin-top: 6.2em;
}

.header{
  font-size: 30px;
}

/* JOB POSTİNG COMPONENT */

.job-posting-card{
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: white;
  height: 80%;
  border-radius: 4px;
  border-top: 3px solid #199AD6;
  box-shadow: 6px 6px 5px #c0c0c0;
  position: relative;
}

.job-posting-card-city{
  color: #c0c0c0;
  border: 1px solid #c0c0c0;
  padding: 5px;
  margin: 10px 10px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
}

.job-posting-card-header{
  font-size: 25px;
  margin-top: 16px;
}

.job-posting-card-body{
  margin-top: 30px;
  padding-bottom: 50px;
  text-align: left;
  margin-left: 30px;
}

.job-posting-card-salary{
  position: absolute;
  left: 30px;
  bottom: 10px;
  color: #c0c0c0;
}

.job-posting-card-detail-button{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.angle-right{
  padding-left: 27px;
  padding-right: 12px;
}

/* JOBPOSTING DETAIL */

.job-posting-detail-card{
  margin-top: 10px;
  background-color: white;
  padding: 30px;
  position: relative;
  height: 380px;
  box-shadow: 4px 4px 6px #c0c0c0;
  border-radius: 5px;
  border-left: 3px solid #199AD6;
}

.job-posting-detail-card-header{
  font-size: 20px;
}

.job-posting-detail-card-listingdate{
  position: absolute;
  top: 10px;
  left: 15px;
  color: #c0c0c0;
}

.job-posting-detail-card-city{
  color: #c0c0c0;
  position: absolute;
  right: 40px;
  top: 60px;
  border: 1px solid #c0c0c0;
  padding: 10px;
  border-radius: 5px;
}

.job-posting-detail-card-body{
  margin-top: 30px;
  position: absolute;
  text-align: left;
}

.job-posting-detail-card-salary{
  margin-top: 15px;
}

.job-posting-detail-card-employer{
  position: absolute;
  right: 40px;
  bottom: 80px;
}

.job-posting-detail-card-footer{
  position: absolute;
  bottom: 10px;
  width: 94%;
}


/* HOME */



.cv-row{
  position: relative;
  padding-top: 0;
}

.cv-image{
  position: absolute;
  top: -180px;
  right: -100px;
}

/* RIGHT PROFILE BAR */


/* FOOTER */

.footer{
  background-color: white;
  height: 200px;
}

/* NAVBAR */

.nav-logo{
  transition: font-size 2s;
}

.nav-logo:hover{
  font-size: 22px;
}

/* MY'S */

.my-white-background{
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #c0c0c0;
}